<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="https://www.googletagmanager.com" rel="dns-prefetch" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/555cfceadd02ae50.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/2b04bae76c5fc905.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/78d41feaba858687.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/7d9a0cf29dbbd70f.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/b09725aaa4a54f31.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/3f16b0282183b87f.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/f7ffa951e455a43c.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/54d906f3e1edaebb.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/0ecf31dc7c2c3b6e.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/97d28480c758bae1.css"
        rel="stylesheet" />
    <link data-precedence="next" href="https://static.naukimg.com/s/9/121/_next/static/css/730c5c1c813fb960.css"
        rel="stylesheet" />
    <link as="font" crossorigin="true"
        href="https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2"
        rel="preload" />
    <link as="font" crossorigin="true"
        href="https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2"
        rel="preload" />
    <link as="font" crossorigin="true"
        href="https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2"
        rel="preload" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        name="viewport" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <meta content="notranslate" name="google" />
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport" />
    <link href="./manifest.json" rel="manifest" />
    <link href="https://www.naukri.com/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="//static.naukimg.com" rel="dns-prefetch preconnect" />
    <link href="//img.naukimg.com" rel="dns-prefetch preconnect" />
    <link href="//logs.naukri.com" rel="dns-prefetch preconnect" />
    <link href="//lg.naukri.com" rel="dns-prefetch preconnect" />
    <script type="text/javascript">
        if (window.history.scrollRestoration) {
            window.history.scrollRestoration = 'manual';
        }
    </script><noscript><iframe height="0"
            src="https://www.googletagmanager.com/ns.html?id=GTM-NX744H" style="display:none;visibility:hidden"
            width="0"></iframe></noscript>
    <script nomodule=""
        src="https://static.naukimg.com/s/9/121/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
</head>

<body><img height="99999"
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wI iBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8v d3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+"
        style="pointer-events:none;position:absolute;top:0;left:0;width:95vw;height:95vh;max-width:95vw;max-height:95vh;z-index:1000"
        width="99999" /><img height="400" src="https://static.naukimg.com/s/0/0/i/transparentImg.png"
        style="pointer-events:none;position:absolute;top:0;left:0;width:400px;height:400px;max-width:400px;max-height:400px;z-index:1000"
        width="400" />
    <div id="root">
        <div class="styles_splashscreen-container__jxBax">
            <div class="styles_container-fluid__nS6PO"></div>
            <div class="styles_splScrn__C8kSD">
                <div class="styles_circles-container__QJpUX" id="circleG">
                    <div class="styles_circleG__7J64I" id="circleG_1"></div>
                    <div class="styles_circleG__7J64I" id="circleG_2"></div>
                    <div class="styles_circleG__7J64I" id="circleG_3"></div>
                    <div class="styles_circleG__7J64I" id="circleG_4"></div>
                    <div class="styles_circleG__7J64I" id="circleG_5"></div>
                </div>
            </div>
        </div>
    </div>
    <script async="" src="https://static.naukimg.com/s/9/121/_next/static/chunks/webpack-c06585673c66dda7.js"></script>
    <script async="" src="https://static.naukimg.com/s/9/121/_next/static/chunks/2443530c-e7a1f9ccd6662cc9.js"></script>
    <script async="" src="https://static.naukimg.com/s/9/121/_next/static/chunks/8139-668a900d26014281.js"></script>
    <script async="" src="https://static.naukimg.com/s/9/121/_next/static/chunks/main-app-41bfa04a3d4c7c6a.js"></script>
</body>

</html>
